body{
       background:#14213D;
       margin:none;
       padding:none;
}

.nav-link:hover{
        transform: scale(1.05);
        color: #E5E5E5;
}
.nav-link{
        color:#FCA311;
}
.navbar-nav .nav-link.active{
    color: #E5E5E5;
}
.home{
      width: 550px;
}
.col-lg-6{
   display:flex;
   flex-direction:column;
   justify-content:center;
}
h2
{
color:#FCA311

    }
.navbar-toggler{
        background:#FCA311;
}
.footer-text{
    margin:auto auto;
}
footer{
    background:black;

}
.yt,
.tg{
    text-decoration:none;
    width:35px;
    height:33px;
}
.foter-text{
    text-decoration:none;
}
h4,
h1{
    color:#FCA311
}
p,
h5{
    color: #E5E5E5;
}
.border-text{
   border-left-style: solid;
   padding:10px;
   border-color:#FCA311;
}
span{
     color:#FCA311;
     font-weight:bold;
}
li{
     color: #E5E5E5;
}
ol{
    padding:50px;
    border-style: ridge;;
    border-color:#FCA311;

}