body{
       background:#14213D;
       margin:none;
       padding:none;
}

.nav-link:hover{
        transform: scale(1.05);
        color: #E5E5E5;
}
.nav-link{
        color:#FCA311;
}
.navbar-nav .nav-link.active{
    color: #E5E5E5;
}
.home{
      width: 550px;
}
.col-lg-6{
   display:flex;
   flex-direction:column;
   justify-content:center;
}
h2,
p{
color:#FCA311

    }
.navbar-toggler{
        background:#FCA311;
}
.footer-text{
    margin:auto auto;
}
footer{
    background:black;

}
.yt,
.tg{
    text-decoration:none;
    width:35px;
    height:33px;
}
.foter-text{
    text-decoration:none;
}
h1{
    color:#FCA311
}

